body
{
margin: 0;

}
.education-icon{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.sign-in-form
{
width: 500px;
box-shadow: 0 0 3px 0 rgba(37, 37, 37, 0.74);
padding: 40px;
margin: 8% auto 0;
text-align: center;
}


.input-box
{
font-family:"Roboto",sans-serif;
outline: 1;
background: #773434;
width: 108.5%;
border: 0;
padding: 15px;
margin: 10px 150px 3px -3px;
box-sizing: border-box;
font-size: 14px;
text-align: left;
border-radius:4px ;
}




button 
{

font-family:"Roboto",sans-serif;
text-transform: uppercase;

background: #53D1EA;
width: 96%;
height: 45px;
border: 0;
padding: 0%;
font-weight: bold;
color: #352727;
font-size: 18pt;
border-radius:12px ;
}
.button1
{
background-color:#062058;
border-radius:12px ;
text-transform: lowercase;
text-align: center;
width: 100%;
}

.button2
{
background-color: #dd4b39;
border-radius:12px ;
text-transform: lowercase;
text-align: center;
width: 100%;
}
.button3
{
background-color: #D0DB00;
text-transform: italic;
border-radius:12px ;
width: 90%;
height: 50px;
}
h2
{

    background-color: #53D1EA;
    
}


h3 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h3 span { 
     background:#fff; 
     padding:0 10px; 
 }

       .form-group {
        position: relative;
    }

    .form-control {
        padding-right: 30px;
    }

    .input-glyph {
        position: absolute;
        color: green;
        right: 10px;
        pointer-events: none;
        top: 10px;
        display: none;
        form: not(.form-inline) label ~ &
    }
    label {
        float: left;
        color:blue;
    }